<!DOCTYPE html>
<html>
<head>
  <%- include('../partial/admin-partial/_bootstrap_files.ejs')%>
    <style>
      .navbar {
        background-color: #192537;
      }
      .nav-item {
        color: #4e4719;
      }
    </style>
</head>

<body>
    <form action="/category/update" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" class="form-control" value="<%=result[0].id%>" />
        <div class="form-group">
        <label>Enter Category Name</label>
        <input type="text" name="catName" class="form-control" value="<%=result[0].cat_name%>" />
      </div>
      <div class="form-group">
        <label>Enter Category Image</label>
        <input type="file" name="catImg" value="<%=result[0].cat_img%>"/>
      </div>
      <div class="form-group">
        <button class="btn btn-success" type="Submit">Update</button>
      </div>
  </div>


</html>