<!DOCTYPE html>
<html>
    <head>
      <%- include('../partial/admin-partial/_bootstrap_files.ejs')%>
      <style>
       .border{
        border: 1px solid black;
       }
      </style>
    </head>

    <body>
     <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 border">
          <h1>Category</h1>
        </div>
        <div class="col-md-6">

        </div>
      </div>

      <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">

        </div>
      </div>

      <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">

        </div>
      </div>
     </div>
    </body>
</html>