<!DOCTYPE html>
<html>

<head>
  <title>Homepage</title>
  <%- include('../partial/admin-partial/_bootstrap_files.ejs')%>
    <style>
      .navbar {
        background-color: #192537;
      }

      .nav-item {
        color: #4e4719;
      }
    </style>
</head>

<body>
 <%- include('../partial/admin-partial/_admin_nav.ejs')%>
</body>

</html>