<html>
    <head>
      <%- include('../partial/admin-partial/_bootstrap_files.ejs')%>
    <style>
      .navbar {
        background-color: #192537;
      }
      .nav-item {
        color: #4e4719;
      }
      .form-group{
        padding: 100px 300px;   
       }
       #btn{
           margin-left: 600px;
           margin-top: -100px;
       }
    </style>
    </head>

    <body>
      <%- include('../partial/admin-partial/_admin_nav.ejs')%>
      <form
      action="/admin/send-response" method="post">
      <input type="hidden" name="email" class="form-control" value="<%=email%>"/> 
      <div class="form-group">
        <label>Enter Response</label><br>
        <textarea id="" name="message" rows="5" cols="90"></textarea>
      </div>
        <button class="btn btn-success" id="btn" type="submit">Send</button>
      </div>
    </form>
    </body>
</html>