<footer class="page-footer font-small blue pt-4 mt-5">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase text-white dark" id="color">Company Name</h5>
        <p class="footerFontColor">Franchise Enquiry<br>
                About Us<br> 
                Store Locator<br>
                Contact Us<br>
          </p>

      </div>
      <!-- Grid column -->
      <div class="col-md-3">
          <h5 class="text-uppercase text-white dark">Support</h5>
          <!-- <a href="#" class="footerFontColor" data-toggle="modal" data-target="query"></a>Ask Queries<br> -->
          <p class="footerFontColor">
            <a class="footerFontColor" href="#" data-toggle="modal" data-target="#query">Ask Queries</a>
            <br>
                  Terms of User<br>
                  Privacy Policy<br>
                  Shipping Details</p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase text-white dark">Men</h5>
          <p class="footerFontColor">Kurta Pajama<br>
                  Sherwani<br>
                  Suit and Blazzers<br>
                  Indo-Western</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase text-white dark">Women</h5>

        <p class="footerFontColor">Lehenga<br>
          Kurti and Suits<br>
          Saree<br>
          Gown</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a style="color: #B09E80;"> Vastram@gmail.com</a>
  </div>
  <!-- Copyright -->


 </footer>
<!-- Modal -->
<div class="modal fade" id="query">
  <div class="modal-dialog modal-dialog-centered">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="model-header">
      <!-- <div class="modal-header"> -->
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center"> Ask Query </h4>
    </div>
      <!-- </div> -->
      <div class="modal-body">
          <form action="/query" method="post" >
           <div class="form-group">
               <label>Enter Name</label>
               <input type="text" name="name" class="form-control"/>
           </div>
           <div class="form-group">
            <label>Enter Email</label>
            <input type="email" name="email" class="form-control"/>
           </div>
           <div class="form-group">
            <label>Enter Your Query</label>
            <!-- <input type="text" name="" class="form-control"/> -->
            <textarea name="query" class="form-control"></textarea>
          </div>
          <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
          <button class="btn btn-success" type="Submit">Send</button>

        </div>
       </form>
      </div>
    </div>   
   </div> 
