<footer class="page-footer font-small blue pt-4 mt-5">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase text-white dark" id="color">Company Name</h5>
        <p class="footerFontColor">Franchise Enquiry<br>
                About Us<br> 
                Store Locator<br>
                Contact Us<br>
          </p>

      </div>
      <!-- Grid column -->
      <div class="col-md-3">
          <h5 class="text-uppercase text-white dark">Support</h5>
          <p class="footerFontColor">FAQs<br>
                  Terms of User<br>
                  Privacy Policy<br>
                  Shipping Details</p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase text-white dark">Men</h5>
          <p class="footerFontColor">Kurta Pajama<br>
                  Sherwani<br>
                  Suit and Blazzers<br>
                  Indo-Western</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase text-white dark">Women</h5>

        <p class="footerFontColor">Lehenga<br>
          Kurti and Suits<br>
          Saree<br>
          Gown</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://Vastram.com/"> Vastram@gmail.com</a>
  </div>
  <!-- Copyright -->

</footer>