<nav class="navbar">
    <a class="navbar-brand" href="#">
        <img src="/admin/images/mini-logo-2.png" width="150px" height="75px" />
    </a>
    <div class="navbar b">
        <!-- <a href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a>
        <a href="#"><i class="fa fa-fw fa-user"></i>SignIn</a>
        <a href="#"><i class="fa fa-fw fa-user"></i>SignUp</a> -->   
        <li><a href="/">Home</a></li>
        <li><a href="/">About</a></li>
        <li><a href="/">Contact</a></li>
        <li><a href="/">Category</a></li>
        <li><a href="/">Clothing</a></li>      
    </div>
    <div class="navbar a">
        <!-- <div class="form-inline mr-3" action="/">
            <input class="form-control input-search" type="text" placeholder="Search">
            <button class="btn btn-search" type="submit"><i class="fa fa-fw fa-search"></i></button>
        </div> -->
        <a href="#"><i class="fa fa-fw fa-user"></i>SignIn</a>
        <a href="#"><i class="fa fa-fw fa-user"></i>Register</a>
        <i class="fa fa-heart mr-2" aria-hidden="true"></i>
        <i class="fa fa-shopping-bag mr-2" aria-hidden="true"></i>

    </div>
    

</nav>