.navbar{
       background: #192537;
       padding-top: 0;
       padding-bottom: 0;    
  }
 
  .navbar a {
    float: right;
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
    color: #B09E80;
    /* color: #192537; */
    text-decoration: none;
    font-size: 20px;
    font-family:  Simplifica;
  
  }

   .navbar a:hover{
    
    border: 1px solid #B09E80;
  }
  .dropdown-item {
    background: #192537;
  }
  
  /* .navbar a:hover {
    background-color: #B57A51;

    a.ex5:hover, a.ex5:active {text-decoration: underline;}
  } */

  i.fa.fa-heart {
    color: red;
    margin-block:auto;
    padding: 5px;
  }
  i.fa.fa-shopping-bag{
    color: #E75480;
    margin-block:auto;
    padding: 5px;
  }
  .input-search{
    background-color: #B09E80 !important;
    border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border: 0;
      
  }
  .btn-search{
    background: #B09E80 !important ;
      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
  }
  
  .input-search::placeholder {
    color: black;
  }
  .input-search:focus{
    border: 0;
    box-shadow: none;
  }
  .carousel-inner img{
    margin-left: 20px;
    margin-top: 20px;
    
    /* border: 2px solid #192537;
    border-radius: 5px; */
  }
 
  body{
     /* background: #192537; */
     background: #B57A51;
     font-family: pinyon_scripttregular;
  }
  .btn {
    background-color: #192537;
    border: none;
    font-size: 20px;
    }
    .dropdown-menu{
      background-color: #192537;
      text-align: center;
      font-size: 10px;
      }
      #dropdownMenuButton1{
      margin: 10px;
      color: #B09E80;
      }
      .dropdown-item{
        background-color: #192537;
      }
      #fontdisplay{
        margin-top: 20px;
        color: white;
        font-family: pinyon_scripttregular;
        text-align: center;
      }
      #fontcolor{
        color: #192537;
        
      }
      .col-md-4{
        float: left;
        }
  .page-footer {
    background-color: #192537;
    }
  .footer-copyright{
    color: #B09E80;
  }
  .display{
    display: block;
  }
 
  img.d-block.w-350{
    height: 580px;
    width: 430px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    /* display: inline ! important; */
  }

  .col-md-4{
  float: left;
  }
  img.d-block.w-350.center{
    width: 350px;
    height: 200px;
    margin-top: 70px;
    margin-left: 30px;
    text-align: center;
 }
.product-display{
  height: 700px;
  width: 100%;
  padding: 40px 10vw;
  display: flex;
  justify-content: space-between;
}
.sidecolumn{
   margin-left: -40px;
}
.sideimage{
  padding-right: 10px;
}
.sideimage img{
  border: 5px solid white;
  height: 161.6px;
  width: 160px;
}
.image-slider{
  width: 470px;
  height: 650px;
  border: 10px solid white;
  position:relative ;
  margin-right: 40px;
  background-size: cover;
}
.product-images{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  background: #fff;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  height: 100px;
  grid-gap: 10px;
  padding: 10px;
}
.product-images img{
  width: 100%;
  height: 80px;
  object-fit: contain;
  cursor: pointer;
}
.product-images img.active{
  opacity: 0.5;
}
.details{
  box-shadow: 0 0 20px #192537;
  width: 450px;
  background-color: white;
  padding: 15px;
  /* height: 650px; */
}
.details .product-name{
  
  text-transform: capitalize;
  font-size: 30px;
}

.product-price{
  font-weight:600;
  font-size: 26px;
  font-family: philosopherregular;
}
.product-size{
  font-size: 20px;
  /* text-transform: uppercase; */
   margin: 40px 0 10px;
   font-weight: 300;
}

.wishlist-btn{
  width: 42%;
  height: 50px;
  padding-top: 10px;
  border-radius: 5px;
  background: none;
  border: 1px solid #383838;
  color: #192537;
  font-size: 15.39px;
  cursor: pointer;
  margin: 45px 1px;
  text-transform: capitalize;
}

.cart-btn{
  width: 42%;
  height: 50px;
  padding: 10px;
  font-size: 15.39px;
  margin-left: 4%;
  margin-right: 6%;
  cursor: pointer;
  background: #192537;
  color: goldenrod;
}
.cart-btn:hover{
 background-color: white;
 border: 1px solid #192537;
  color:#192537;
}
.wishlist-btn:hover{
  background-color: #192537;
  color: goldenrod;
}

.card:hover{
   /* border: 1px solid #192537; */
   box-shadow: 0 0 10px white;
}

.footerFontColor{
  color: #B09E80;
}