body{
    /* background: #192537; */
    background: #B57A51;
 }
 .navbar{
    background: #192537;
    padding-top: 0;
    padding-bottom: 0;    
}
i.fa.fa-heart {
    color: red;
    margin-block:auto;
    padding: 10px;
  }
  i.fa.fa-shopping-bag{
    color: #E75480;
    margin-block:auto;
    
  }
  .navbar a {
    float: right;
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
    color: #B09E80;
    /* color: #192537; */
    text-decoration: none;
    font-size: 20px;
    font-family:  Simplifica;
  
  }
  .text{
    font-family : 'Brush Script MT', cursive;
    color: #fff;
    font-size: 100px;
    
  }
  .text1{
    color: #192537;
    font-size: 15px;
    margin: 10px;
  }

  .col-md-6{
   float: right;
  }
  .btn {
    background-color: #192537;
    border: none;
    font-size: 20px;
  }
  #dropdownMenuButton1{
    margin: 10px;
    color: #B09E80;
  }
  .dropdown-menu{
    background-color: #192537;
    text-align: center;
    font-size: 10px;
  }
  .paragraph{
    width: 500px;
    height: 200px;
    text-align: center;
    margin-top: 80px;
  }
  .colorheading{
    color: #B09E80;
  }
  /* col-md-6 textformate{
    text-align: center;
    
  } */
  /* span.text {
    padding: 130px;
  }
  span.text1 {
    padding: 130px;
  } */
  .footerFontColor{
        color: #B09E80;
  }