<nav class="navbar">
    <a class="navbar-brand" href="#">
        <img src="/admin/images/mini-logo-2.png" width="150px" height="75px" />
    </a>
    <div class="navbar b">
        <li><a href="/user/dashboard">Home</a></li>
        <li><a href="/user/about-us">About</a></li>
        <li><a href="#">Contact</a></li>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Category</button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="/user/men">Men</a></li>
              <li><a class="dropdown-item" href="/user/women">Women</a></li>
            </ul>
          </div>
    </div>
    <div class="navbar a">
        <a href="/user/signout" onclick="return confirm('Are you sure?')"><i class="fa fa-fw fa-user"></i>Sign Out</a>
        <a href="/user/favourite"><i class="fa fa-heart mr-2" aria-hidden="true"></i></a>
        <a href="/user/cart"> <i class="fa fa-shopping-bag mr-2" aria-hidden="true"></i></a>

    </div>
    

</nav>