.main-image {
    background-image: linear-gradient(rgba(153, 125, 96, 0.8), rgba(160, 127, 92, 0.8)), 
    url("/admin/images/login-bg.jpeg");
    height:715px;
    background-position:top;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    /* padding-left: 10px; */
    padding-top: 80px;
  }

  #logo {
    border-radius: 15px;

  }

  .fade-in-image {
    animation: fadeIn 6s;
    -webkit-animation: fadeIn 6s;
    -moz-animation: fadeIn 6s;
    -o-animation: fadeIn 6s;
    -ms-animation: fadeIn 6s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-ms-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .example_a {
    color: rgb(255, 255, 245) !important;
    text-decoration: none;
    background:#192537;
    padding: 8px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
  }

  .example_a:hover {
    background: #4e4719;
    ;
    text-decoration: none;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
  }
  
  .card-body{
    margin-top:80px;
    /* margin-left: 0px; */
    padding-top: 90px;
    width: 440px;
    border-radius: 10px;
    background-color: #B09923;
    background: rgb(176,153,35,0.6);
    color: antiquewhite;

  }
  
  .form-control{
   width: 240px;  
  }
  
  .form-outline{
    padding-left: 80px;
    font-weight: 600;
    font-size: 18px;
  }

  .small{
    margin-left: 130px;
    font-size: 16px;
  }

  .btn{
    background-color: #192537;
    width: 100px;
  }

  .btn:hover{
    background-color: #192537;
  }

  .Loginform{
    background-color: black;
    height: 300px;
    width: 350px;
    border-radius: 15px;
    margin-top: 10%;
}
.Label{
  color: white;
  padding: 10px;
}
.class{
  /* margin-top: 10%;
   */
   top: 100px;
}