* {
    box-sizing: border-box;
    padding-top: 0px;
    margin-top: 0px;
  }

  .navbar {
    background-color: #192537;
  }

  .nav-item {
    color: #4e4719;
  }

  .navbar {
    background-color: #252a30;
  }
  .banner{
    background-image: linear-gradient(rgba(17, 17, 17, 0.7), rgba(44, 42, 39, 0.7)),url("/admin/images/login-bg.jpeg");
    background-size: cover;  
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
    margin-top: -20px;
   }
 
  body {
    font-family: Verdana, sans-serif;
  }
  
  .con{
    color: azure;
  }
  .r1{
    padding:50px 300px;
  }
  #welcome{
    font-family:'Times New Roman', Times, serif;
    padding-top: 20px;
      }
  #h3{
    padding-top: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
  }
  #p2{
    padding-top: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
  }