<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="./css/contact.css">

        <style>
            .container-fluid .banner {

    background-position: center;
    background-size: cover;
    width: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;

}

.banner1 .col-md-12 img {

    width: 100%;
    height: 1000px;
    opacity:1;
   
}


.navbar-brand img {
    width: 100%;
    height: 50px;
}


/*.nav-item .nav-link {
    color: aliceblue;
}*/

.footer .pagination-sm {
    margin: 20px;
    text-align: justify;
    justify-content: center;
}
.contact-clean{
    text-align: center;
}

.navbar{
       background: #192537;
       padding-top: 0;
       padding-bottom: 0;    
  }
  .navbar a {
    float: right;
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
    color: #B09E80;
    /* color: #192537; */
    text-decoration: none;
    font-size: 20px;
    font-family:  Simplifica;
  
  }
  .text-center{
      padding-left: 80px;
      padding-bottom: 1px;
  }
  .container c{
      padding-bottom: 20px;
  }

  footer {
            background: #212226;
            padding: 20px;
            text-align: center;
        }

        footer {
            color: #fff
        }
 /* .back{
     
     /* background: linear-gradient(rgba(181, 122, 81, 0.5),rgba(181, 122, 81, 1)); */
  */
 .back img{
    width: 1381px;
     height: 750px;
     /* opacity: 0.5; */
    background: linear-gradient(rgba(181, 122, 81, 0.5),rgba(181, 122, 81, 1));
 }


        </style>
        

</head>

<body>
    <nav class="navbar">
        <a class="navbar-brand" href="#">
            <img src="\mini-logo.png" width="200px" height="75px" />
        </a>
        <div class="navbar b">
            <!-- <a href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a>
            <a href="#"><i class="fa fa-fw fa-user"></i>SignIn</a>
            <a href="#"><i class="fa fa-fw fa-user"></i>SignUp</a> -->   
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Contact</a></li>
            <li><a href="/">Category</a></li>
            <!-- <li><a href="/">Clothing</a></li>       -->
        </div>
        <div class="navbar a">
            <!-- <div class="form-inline mr-3" action="/">
                <input class="form-control input-search" type="text" placeholder="Search">
                <button class="btn btn-search" type="submit"><i class="fa fa-fw fa-search"></i></button>
            </div> -->
            <a href="#"><i class="fa fa-fw fa-user"></i>SignIn</a>
            <a href="#"><i class="fa fa-fw fa-user"></i>Register</a>
            <i class="fa fa-heart mr-2" aria-hidden="true"></i>
            <i class="fa fa-shopping-bag mr-2" aria-hidden="true"></i>
    
        </div>
        
    
    </nav>
    
       





    
    <div class="container-fluid1">
        <div class="row banner1">
            <img src="" alt="">
            <div class="col-md-12 back">
                <img class="background" src="\c.jpg" class="circular--square" alt="Cinque Terre">
            </div>

        </div>
        <div class="container-box">
        <div class="contact-clean">
            <div class="container c">

               <p> Vastram Creations Private Limited</p>
                <p>Srijan Industrial Logistics Park,
                Part-C, Block-A, G-2, NH-6,
                Mohiary Chandni Bagan,
                Domjur,Howrah-711302
                Indore
                India.</p>
                <p>if you have any question,please email us or call us at</p>
                <p>vastram@gmail.com Contact No.9988776655(Mon to Sat 10:00AM to 7:00PM)</p>
            </div>
         
        </div>
        </div>
        <footer class="" text-center>
            <p>Vastram Copyrigth &copy; 2022 All Rigths reserved by Freddie Nice Inc. Contact No.9988776655 
                 </p>
             
        </footer>
</body>

</html>