<!DOCTYPE html>
<html>
  <head>
    <%- include("../partial/user-partial/_bootstrap_files.ejs")%>
    <%- include('../partial/index-partial/_bootstrap_files.ejs')%>
    <link rel="stylesheet" href="/user/css/login-style.css" />
    <link rel="stylesheet" href="../index/style.css">
  </head>

  <body>
    <%- include('../partial/index-partial/_navigation.ejs')%>
    <script src="/user/js/login-validation.js"></script>
    
    <div class="container-fluid main-image">
      <div class="row">
        <div class="col-sm-6 logo fade-in-image">
          <img
            id="logo"
            src="/user/image/vastram-logo.png"
            alt=""
            height="500px"
            width="400px"
          />
        </div>

        <div class="col-sm-6">
          <div class="justify-content-center align-items-center">
            <div class="card-body">
              <h2 class="fw-bold text-uppercase text-center mb-5">Login</h2>

              <form action="/user/login" method="post">

                <div class="form-outline mb-4">
                  <label class="form-label">Email</label>
                   <input
                    type="email"
                    id="email"
                    class="form-control"
                    placeholder="Enter email"
                    name="email"
                    onkeyup="validateEmail()"
                  />
                  <small id="emailError"></small>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label">Password</label>
                  <input
                    type="password"
                    id="password"
                    class="form-control"
                    placeholder="Enter password"
                    name="password"
                    onkeyup="validatePassword()"
                  />
                  <small id="passwordError"></small>
                </div>

                <p class="small mb-5">
                  <a class="text-white-50" href="/user/register">New User?</a>
                </p>
                <button
                  class="small btn btn-outline-dark btn-border btn-success example_a"
                  type="submit"
                >
                  Login
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>