<!DOCTYPE html>

<html lang="en">

<head>

    <!-- <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script> -->

<%- include('../partial/index-partial/_bootstrap_files.ejs')%>
<link rel="stylesheet" href="../index/style.css">

    <STYLE>
        * {
            padding: 0%;
            margin: 0%;

        }

        .container-fluid .banner {
            background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(211, 181, 181));
            background-position: center;
            background-size: cover;
            width: auto;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-style: normal;
            color: rgb(180, 178, 64);
        }

        .about-1 {
            margin: 30px;
            padding: 5px;

        }

        .about-1 h1 {
            text-align: center;
            color: black;
            font-weight: bold;
        }

        .about-1 p {
            text-align: center;
            padding: 1px;
            color: rgb(27, 22, 22);
        }

        .about-item {
            margin-bottom: 20px;
            margin-top: 20px;
            background-color: white;
            padding: 80px, 30px;
            box-shadow: 0 0 9px rgba(0, 0, 0 .6);

        }

        .about-item i {

            font-size: 43px;
            margin: 0%;
        }

        .about-item h3 {
            font-size: 25px;
            margin-bottom: 10px;
        }

        .about-item hr {
            width: 46px;
            height: 3px;
            background-color: #f9e95f;
            margin: auto;
            border: none
        }

        .about-item p {
            margin-top: 20px;
        }

        /*.about-item:hover{
                background-color: ;
            }*/
        .about-item:hover i,
        .about-item:hover h3,
        .about-item:hover p {
            color: rgb(245, 140, 3);
        }

        .about-item:hover hr {
            background-color: rgb(223, 169, 20);
        }

        .about-item:hover i {
            transform: translate(-20px);
        }

        .about-item:hover i,
        .about-item:hover h3,
        .about-item:hover hr {
            transition: all 400ms ease-in-out;
        }

        footer {
            background: #212226;
            padding: 20px;
        }

        footer {
            color: #fff
        }

        .container-fluid1 {
            background-image: none;
        }
        .navbar{
       background: #192537;
       padding-top: 0;
       padding-bottom: 0;    
  }
  .navbar a {
    float: right;
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
    color: #B09E80;
    /* color: #192537; */
    text-decoration: none;
    font-size: 20px;
    font-family:  Simplifica;
  
  }
  /* h1.about-us{
      color: gold;
  } */
    </STYLE>

</head>

<body>
    <%- include('../partial/index-partial/_navigation.ejs')%>

<!--  -->
    <div class="container-fluid1">
        <div class="row banner1">
            <img src="" alt="">
            <div class="col-md-12">
                <img src="/a.jpg" class="circular--square" alt="Cinque Terre" width="100%" height="100%">
            </div>

        </div>
        <div class="container c">
            <section id="about">
                <div class="about-1">
                    <h1 class="about-us"> ABOUT US</h1>
                    <p>VASTRAM India’s leading Celebration Wear brand
                        Vastram’s timeless celebration collection includes
                        exquisite Sherwanis, fine Indo-Westerns, Royal Bandhgalas,
                        classic Kurta-Jackets and matching accessories for life’s
                        special moments. Not leaving behind the juniors, Vastram
                        started with their Kid’s Ethnic and Fusion wear line which
                        was a delight to the little ones.</p>
                </div>
                <div id="about-2"></div>
                <div class="content-box-lg">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="about-item text-center">
                                    <i class="fa fa-heart"></i>
                                    <h3>MISSION</h3>
                                    <hr>
                                    <p>Behind the scenes at Vedant Fashions Limited works a team of
                                        young and energetic sales professionals and employees who are
                                        an integral part of brand building and have been adding value
                                        to the organization. All efforts enumerated are to make an
                                        impactful difference in their lives and in the lives of all
                                        stakeholders of the brand driving towards one vision – Earn Your Respect.</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="about-item text-center">
                                    <i class="fa fa-globe"></i>
                                    <h3>VISSION</h3>
                                    <hr>
                                    <p>To share, celebrate and evolve the Vastram movement
                                        A reflection of Mr. Ravi Modi’s grit, a global vision
                                        and a nurturing spirit, the creative spark of Mrs. Shilpi Modi,
                                        our Chief Visualizer of merchandise and design, together with sales,
                                        production and operation groups driven by a collective mission:
                                        to be an authority in Celebration Wear.

                                        Vastram envisions leading the category towards a global perspective,
                                        beyond cultural and ethnic sensibilities. </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="about-item text-center">
                                    <i class="fa fa-book"></i>
                                    <h3>ACHIEVEMENT</h3>
                                    <hr>
                                    <p>Vastram’s growth as a brand is also heavily attributed to its extensive
                                        focus on marketing and advertising that boasts of the highest advertising
                                        budget in the industry. While it started out as a Wedding wear brand, over
                                        time there has been a paradigm shift from wedding to celebrations on the
                                        whole and the new campaigns’ focus on branding the label as Celebration wear.

                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
        <footer class="" text-center>
            <p>Vastram Copyrigth &copy; 2022 All Rigths reserved by Freddie Nice Inc. Contact No.9988776655 
                 </p>
             
        </footer>
</body>

</html>