<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partial/index-partial/_bootstrap_files.ejs')%>
    <link rel="stylesheet" href="../index/style.css">
</head>
<body>
    <%- include('../partial/index-partial/_navigation.ejs')%>
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
              <div class="rows">
                  <div class="col-md-4">
            <img src="index/images/sherwani1.jpg" class="d-block w-350"  alt="...">
            <div class="carousel-caption d-none d-md-block">
              <!-- <h5>First slide label</h5>
              <p>Some representative placeholder content for the first slide.</p> -->
            </div>
          </div>
          
            <div class="col-md-4 ">
      <img src="admin/images/index-vastram-logo-removebg.png" class="d-block w-350 center"  alt="...">
      <!-- <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div> -->
    </div>
    <div class="col-md-4">
        <img src="index/images/sherwani8-removebg.png" class="d-block w-350"  alt="...">
        <div class="carousel-caption d-none d-md-block">
          <!-- <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p> -->
        </div>
      </div>
  
        </div>
          </div>
          <div class="carousel-item">
              <div class="rows">
                  <div class="col-md-4">
                    <img src="index/images/Alia-1.jpg" class="d-block w-350" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <!-- <h5>Second slide label</h5>
                      <p>Some representative placeholder content for the second slide.</p> -->
                    </div>
                  </div>
                  <div class="col-md-4">
                    <img src="admin/images/index-vastram-logo-removebg.png" class="d-block w-350 center" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <!-- <h5>Second slide label</h5>
                      <p>Some representative placeholder content for the second slide.</p> -->
                    </div>
                  </div>
                  <div class="col-md-4">
                    <img src="index/images/Anushka-Sharma-2.jpg" class="d-block w-350" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <!-- <h5>Second slide label</h5>
                      <p>Some representative placeholder content for the second slide.</p> -->
                    </div>
                  </div>
              </div>
        </div>
          <div class="carousel-item">
              <div class="rows">
                  <div class="col-md-4">
                    <img src="/index/images/kurta-pajama4.jpg" class="d-block w-350" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <!-- <h5>Third slide label</h5>
                      <p>Some representative placeholder content for the third slide.</p> -->
                    </div>
                  </div>
                  <div class="col-md-4">
                    <img src="admin/images/index-vastram-logo-removebg.png" class="d-block w-350 center" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <!-- <h5>Third slide label</h5>
                      <p>Some representative placeholder content for the third slide.</p> -->
                    </div>
                  </div>
                  <div class="col-md-4">
                    <img src="/index/images/lehenga-1.jpg" class="d-block w-350" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <!-- <h5>Third slide label</h5>
                      <p>Some representative placeholder content for the third slide.</p> -->
                    </div>
                  </div>
              </div>
            
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-target="#carouselExampleCaptions" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </button>
      </div>
      <div class="container-fuild">
      <div rows>
      <div class="col-md-3">

      </div>
      <div class="col-md-3">

      </div>
      <div class="col-md-3">

      </div>
      <div class="col-md-3">

      </div>
      </div>
      </div>
</body>
</html>