<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partial/index-partial/_bootstrap_files.ejs')%>
    <link rel="stylesheet" href="../index/style1.css">
</head>
<body>
    <%- include('../partial/index-partial/_navigation.ejs')%>
    <div class="container-fuild">
        <div class="rows">
            
        <div class="col-md-6 textformate">
            <h1>
                <span class="text" >Finest</span>
            </h1>
            <h6><span class="text1">WEDDING COLLECTION</span></h6>

            <div class="paragraph">
                        <h3 class="colorheading">Bridal Lehengas</h3>
                        <h5><span class="colorheading">Colloection</span></h5>
                        <p>There is rarely any occasion that surpasses the opulence and glamour of an Indian wedding.
                            Not only are wedding lehengas flawlessly exquisite but they also lend you a majestic and
                            flattering appearance.
                            And so, Vastram brings you an expansive selection of bridal lehengas that are sure to give
                            you the perfect “DulhanWaliFeeling”.</p>
            </div>
        </div>
        
       
        <div class="col-md-6">
            <img  class="img" src="index/images/sherwani10.png" width="600px" height="575px">
        </div>
    </div>
    </div>
</body>
</html>