<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partial/index-partial/_bootstrap_files.ejs')%>
    <link rel="stylesheet" href="../index/style1.css">
</head>
<body>
    <%- include('../partial/index-partial/_navigation.ejs')%>
    <div class="container-fuild">
        <div class="rows">
        <div class="col-md-4">
            <h1>
                <span class="text" >Finest</span>
            </h1>
            <h6><span class="text1">WEDDING COLLECTION</span></h6>
        </div>
        <div class="col-md-8">
            <img  class="img" src="index/images/sherwani9-removebg.png" width="800px" height="600px">
        </div>
        </div>
    </div>
</body>
</html>