<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <img src="/admin/images/mini-logo-navigation.png" height="70" alt="" />

    <button
      type="button"
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
        <div class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Category</a>
          <div class="dropdown-menu">
            <a
              href="#"
              class="dropdown-item"
              data-toggle="modal"
              data-target="#addCategory">
              Add Category</a>
            <a href="/admin/viewcategory" class="dropdown-item">View Category</a>
          </div>
        </div>

        <div class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
            >Product</a
          >
          <div class="dropdown-menu">
            <a href="/product/add-product-page" class="dropdown-item"
              >Add Product</a
            >
            <a href="/product/view-product-page" class="dropdown-item">View Products</a>
          </div>
        </div>

        <div class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
            >Orderlist</a
          >
          <div class="dropdown-menu">
            <a href="#" class="dropdown-item">View Orderlist</a>
          </div>
        </div>

        <a href="#" class="nav-item nav-link" tabindex="-1">Queries</a>
      </div>

      <div class="navbar-nav ms-auto">
        <a href="#" class="nav-item nav-link">Log Out</a>
      </div>
    </div>
  </div>
</nav>

<!-- The Modal -->
<div class="modal fade" id="addCategory">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Category</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form
          action="/category/add"
          method="post"
          enctype="multipart/form-data">
          <div class="form-group">
            <label>Enter Category Name</label>
            <input type="text" name="catName" class="form-control" />
          </div>
          <div class="form-group">
            <label>Enter Category Image</label>
            <input type="file" name="catImg" />
          </div>
          <div class="form-group">
            <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
            <button class="btn btn-success" type="Submit">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- </nav> -->
